{% extends 'starter-page.html' %}
{% load static %}


{% block body %}

<form action="" method="POST" style="margin-left:20px">
     {% csrf_token %}
     <h1 class="text-center">Appointment</h1>
     <div>
     <div style="display: block">
         <div>
             <label for="name"  class="form-label">Name:</label>
             <input type="text" id="name" name="name" class="form-control" placeholder="Enter Name" required="required">
         </div>
         <div>
             <label for="email">Email</label>
             <input type="text" id="email" name="email" class="form-control" placeholder="abc@gmail.com" required="required">
         </div>
         <div>
             <label for="phone"  class="form-label">Phone</label><br>
             <input type="text" id="phone" name="phone" class="form-control" placeholder="Enter Number" required="required">
         </div>
         <div>
             <label for="date" class="form-label" >Date</label>
             <input type="date" id="date" name="date" class="form-control"  required="required">
         </div>
     </div>
     <div style="display: block">
         <div>
               <label for="department" class="form-label">Department</label>
               <select name="department" id="department" class="form-select" required="">
                <option value="">Select Department</option>
                <option value="Department 1">Department 1</option>
                <option value="Department 2">Department 2</option>
                <option value="Department 3">Department 3</option>
              </select>
         </div>
         <div>
              <label for="doctors" class="form-label">Doctors</label>
              <select name="doctor" id="doctor" class="form-select" required="">
                <option value="">Select Doctor</option>
                <option value="Doctor 1">Doctor 1</option>
                <option value="Doctor 2">Doctor 2</option>
                <option value="Doctor 3">Doctor 3</option>
              </select>
         </div>
         <div>
                <label for="message" class="form-label">Message</label><br><br>
                <textarea name="message" id="message" cols="30" rows="10" placeholder="Enter message"></textarea>
         </div>
     </div>
     </div>
    <div style="text-align: center;"><button type="submit" style="color:blue">Submit</button></div>

</form>
    
    
{% endblock %}
