{% extends 'starter-page.html' %}

{% load static %}

{% block body %}

<form action="" method="POST" style="margin-left:20px">
{% csrf_token %}
<h1 class="text-center">Contact Us </h1>
       <label for="name"  class="form-label">Name :</label>
       <input type="text" id="name" name="name" class="form-control" placeholder="Enter company Name" required="required">
    <br><br>
      <label for="email">Email</label>
    <input type="text" id="email" name="email" class="form-control" placeholder="abc@gmail.com" required="required">
    <br><br>
        <label for="message"  class="form-label">Message</label><br>
        <textarea name="message" id="message" cols="30" rows="10"></textarea>
    <br><br>
       <label for="phone" class="form-label" >Phone Number</label>
       <input type="text" id="phone" name="phone" class="form-control" placeholder="Enter phone Number" required="required">
    <br><br>
       <label for="staff" class="form-label">Number of Staff</label>
       <input type="text" id="staff" name="staff" class="form-control" placeholder="No. of Staff" required="required">
    <br><br>
    <div style="text-align: center;"><button type="submit" style="color:blue">Submit</button></div>
    <br><br>

</form>

{% endblock %}